.App {
	font-family: 'Lato', sans-serif;
}
.App {
	height: 100vh;
	width: 80%;
	margin: 0 auto;
}
p {
	font-size: 0.8rem;
}
h3 {
	color: rgb(112, 111, 111);
	text-align: left;
	padding: 1rem;
}
.cont-class {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 30px;
}
