button {
	margin: 1rem;
	text-align: center;
	width: 25px;
	height: 25px;
	font-size: 1rem;
	border-radius: 0.3rem;
	border: 0.5px solid grey;
}

.counter {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 2rem 0;
}
